.skills__container {
  width: 100%;
  height: 100%;
  position: relative;
}

.skills__cardContainer {
  position: absolute;
  top: 15%;
  left: 50%;
  transform: translate(-50%, 0);
  width: 90%;
  max-width: 1000px;
  background-color: #1d1d1d;
  border: 25px solid #1d1d1d;
  border-radius: 25px;
  box-shadow: 10px 10px 10px #161616;
}