
#aboutMe__container {
  width: 100%;
  height: 100%;
  position: relative;
}

#aboutMe__textContainer {
  position: absolute;
  top: 15%;
  left: 50%;
  transform: translate(-50%, 0);
  width: 90%;
  max-width: 1000px;
  background-color: #1d1d1d;
  border: 15px solid #1d1d1d;
  border-radius: 25px;
  box-shadow: 10px 10px 10px #161616;
}

#header {
  font-size: 60px;
  font-family: "Open Sans", sans-serif;
  color: #08fdd8;
  font-weight: 300;
  margin-top: 0;
  position: relative;
  margin-bottom: 1.3rem;
}

#aboutMe__descriptions {
  display: flex;
  flex-direction: row;
}

#aboutMe__subTitle {
  color: #8d8d8d;
  font-family: "Open Sans", sans-serif;
  font-size: 20px;
  font-weight: 200;
  letter-spacing: 3px;
  
}

#aboutMe__descriptions p  {
  color: #ffffff;
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
  letter-spacing: 1px;
}

#aboutMe__prof {
  color: white;
  padding-right: 35px;
  flex: 1;
}

#aboutMe__pers {
  color: white;
  flex: 1;
  margin-top: 88px;
}

#aboutMe__img {
  object-fit: cover;
  width: 100%;
  height: 270px;
  border-radius: 20px;
}

#aboutMe__icons {
  display: flex;
  justify-content: space-evenly;
  margin: auto;
  margin-top: 40px;
}

.rails__icon {
  height: 56px;
  width: 56px;
}

@media (max-width: 1120px) {
  #aboutMe__descriptions {
    flex-direction: column;
  }
   #aboutMe__textContainer {
    max-width: 800px;
  }
  #aboutMe__pers {
    margin-top: 25px;
  }
}

@media (max-width: 600px) {
  #aboutMe__subTitle {
    margin-top: 40px;
  }
  #aboutMe__pers {
    margin-top: 0;
  }
}
