
h1 {
  margin-bottom: 0;
}

/* .homepage__container {
  
} */

.homepage__left {
  min-width: 25%;
  margin-left: 2rem;
  margin-top: 15%;
}

.homepage__heading {
  color: white;
  font-size: 4.5rem;
  font-weight: 200;
}

.homepage__description {
  color: #8d8d8d;
  margin-top: 15px;
  margin-bottom: 2rem;
  font-family: "Open Sans", sans-serif;
  font-size: 20px;
  font-weight: 200;
  letter-spacing: 3px;
  font-stretch: 100%;
}

.homepage__button {
  color: #08fdd8;
  border-color: #08fdd8;
  border-radius: 0;
}